
   
    .main {
       width: auto;
       height: auto;
       color: #f5f9fd;
       display: flex;
       flex-direction: row;
    }

    .right {
        width: 79%;
        height: 750px;
        background-color: #1c203d;
        display: inline-block;
        margin-left: -0.3%;

    }
    .left {
       width: 20%;
       height: 750px;
       background-color: #282b4a;
       display: inline-block;
       text-align: center;
    }
    .m {
        text-align: center;
        background-color: #292c4b;
        height: 60px;
        padding: 5%;
        font-size: xx-large;
        margin-top: 2%;
        font-weight: 700;
    }
    .dash_nav {
        font-size: 15px;
        background-color: #1c203d;
        height: 50px;
    }
    .cust {
        font-size: 15px;
        background-color: #292c4b;
        height: 50px;
    }
    .pro {
        font-size: 15px;
        background-color: #292c4b;
        height: 50px;
    }
    .ord {
        font-size: 15px;
        background-color: #292c4b;
        height: 50px;
        padding: 0%;
    }
    .inv {
        font-size: 15px;
        background-color: #292c4b;
        height: 50px;
    }
    .acc {
        font-size: 15px;
        background-color: #292c4b;
        height: 50px;
    }
    .task {
        font-size: 15px;
        background-color: #292c4b;
        height: 50px;
    }
    .dash_home {
        font-size: 30px;
        height: 60px;
        margin-left: 1.5% ; margin-top: 2%;
    }
    .head_home {
        display: flex;
        flex-direction: row;
        height: 60px;
    }
    .acc_home {
        height: 40px;
        font-size: 13px;
    }
    .home_contant {
        display: flex;
        flex-direction: row; 
    }
    .box_home {
        width: 23%;
        height: 100px;
        background-color: #282b4a;
        margin: 1%;
        margin-top: 5%;
        display: flex ;
    }

    .top_sell_main {
        width: 70%;
        height: 400px;
        background-color: #282b4a;
        margin-top: 4%;
        margin: 2%;
    }



    .top_sell {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 2%;
        
    }

    .top_sell_pro {
        color: #f7504b;

         
    }

    .top_sell_all {
        color: #f7504b;
        background-color: #dbdee6;
        margin-left: 62%;
        font-size: smaller;
       
    }

    table , tr {
        text-align: left;
        margin-top: 2%;
    }

    td , th {
        padding: 4%;
        text-align: left;
        
        
    }

    th , td {
        border-bottom:1px solid #dbdee6;
    }

    table {
        width: 100%;
        
    }
    

    .total_sale {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 2%;
        
    }

    .total_sale_pro {
        display: flex;
        flex-direction: row;
        color: #f7504b;
    }

    .total_sale_all {
        display: flex;
        flex-direction: row;
        color: #f7504b;
        background-color: #dbdee6;
        height: 20px;
        margin-left: 60%;
        font-size: smaller;
    }

    .main_sale {
        width: 47%;
        height: 400px;
        background-color: #282b4a;
        margin-top: 3%;
        margin: 2%;
       
    }

    .per {
        margin-top: 30%;
        margin-left: 16%;
        
    }

    body {
        font-family: sans-serif;
    }

    .num_cat {
        margin: 6%;
    }

    .box_icon {
        margin: 10%;
    }

